<!DOCTYPE html>
<html>
<head>
    <title>Sheeeeeeeeee ! </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/axentix.min.css" />
    <link rel="stylesheet" href="main.css">
</head>


<body class="layout">

<header>
    <nav class="navbar shadow-1 primary">
        <button class="btn rounded-1 white hide-md-up sidenav-trigger small mr-2" data-target="main-sidenav">
            Menu
        </button>
        <a href="#" target="_blank" class="navbar-brand">The SHEEEEEEEEEE ! </a>
        <div class="navbar-menu ml-auto">
            </div>
        </div>
    </nav>
</header>
<div class="grix xs4">
    <% list.forEach(function(shoe){ %>

        <div class="card airforce light-1 shadow-1">
            <div class="primary d-flex vcenter fx-center px-4">
                <div class="card-header">
                    <img alt="photo" src="<%= shoe.photo %>">
                </div>
            </div>
            <div class="flex fx-col fx-grow">
                <div class="card-header"><%= shoe.name %></div>
                <div class="card-header">Price : <%= shoe.price %> €</div>
                <div class="card-content">
                    <p>
                        Number of sale : <%= shoe.nbrSell %>
                    </p>
                </div>
            </div>

        </div>
<% }); %>
</div>
<div class="sidenav white shadow-1" id="main-sidenav" data-ax="sidenav">
    <div class="sidenav-header">
        <img src="https://useaxentix.com/img/axentix.svg" alt="" class="sidenav-logo" />
    </div>

    <a href="#" class="sidenav-link active">Link 1</a>
    <a href="#" class="sidenav-link">Link 2</a>
    <a href="#" class="sidenav-link">Link 3</a>
</div>

<main>
    <h1 class="txt-center font-w300 mx-2">Hello from The SHEEEEEEEEEEEE !</h1>

    <div class="container xl-5">
        <div class="caroulix" id="example-caroulix" data-ax="caroulix" data-ax-caroulix-autoplay-enabled="true" data-caroulix-indicators-enabled="true">
            <div class="caroulix-arrow caroulix-prev">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="caroulix-arrow caroulix-next">
                <i class="fas fa-chevron-right"></i>
            </div>
            <div class="caroulix-item">
                <img src="https://picsum.photos/800/450?random=1" alt="img1" />
            </div>
            <div class="caroulix-item">
                <img src="https://picsum.photos/800/450?random=2" alt="img2" />
            </div>
            <div class="caroulix-item">
                <img src="https://picsum.photos/800/450?random=3" alt="img3" />
            </div>
            <div class="caroulix-item">
                <img src="https://picsum.photos/800/450?random=4" alt="img4" />
            </div>
        </div>
    </div>

</main>
<footer class="footer primary">
    Copyright © 2021 - Sheeeesh Corporation
</footer>
<script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script>
</body>
</html>